* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Montserrat", sans-serif;
	list-style: none;
	text-decoration: none;
	text-align: left;
	/* background-color: #ffe6ca; */
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-color {
	fill: orange !important;
}
.flex-align {
	justify-content: flex-start;
	align-items: center;
}
.justify-between {
	justify-content: space-between;
	align-items: center;
}
.justify-evenly {
	justify-content: space-evenly;
	align-items: center;
}
.justify-center {
	justify-content: center;
	align-items: center;
}
.flex {
	display: flex;
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.block {
	display: block;
}
.pad-10px {
	padding: 10px;
}
.pad-20px {
	padding: 20px;
}
.lr-pad-5px {
	padding: 0 15px;
}

.white {
	color: whitesmoke;
	white-space: nowrap;
}
.font-10px {
	font-size: 10px;
}
.font-12px {
	font-size: 12px;
}
.font-14px {
	font-size: 14px;
}
.font-16px {
	font-size: 16px;
}
.font-700 {
	font-weight: 700;
}
.font-600 {
	font-weight: 600;
}
.font-500 {
	font-weight: 500;
}
.font-400 {
	font-weight: 400;
}
.font-300 {
	font-weight: 300;
}
.active .nav-highlight {
	background-color: rgb(255, 136, 0) !important;
}
.nav-links .active {
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
}
.nav-ul {
	height: 108vh !important;
}
.nav-links:hover {
	background-color: rgba(255, 255, 255, 0.15);
	box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.075);
}
.nav-highlight {
	width: 5px;
	height: 57px;
	/* background-color: black; */
}
.nav-links:hover .nav-highlight {
	width: 5px;
	height: 57px;
	background-color: rgba(220, 231, 73, 0.801) !important;
}

.params {
	margin: 1rem;
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow, transform;
	transition-property: box-shadow, transform;
}

.active .params,
.active .params:before,
.active .params:focus,
.active .params:active {
	box-shadow: 0 20px 25px -10px rgba(0, 0, 0, 0.65);
	border-radius: 0.5rem;
	-webkit-transform: scale(1.1);
	transform: scaley(1.2);
	z-index: -1;
}

/* /////////////////////////   views /////////////////////////////////// */

.view-container {
	display: block;
	width: 100%;
	margin-right: 2px;
}
.sub-container {
	width: 50%;
}
