* {
	padding: 0;
	margin: 0;
	border: 0;
	font-family: "Montserrat", sans-serif;
	list-style: none;
	text-decoration: none;
	text-align: left;
	background-color: #ffe6ca;
}

.icon-color {
	fill: orange !important;
}

.flex-align {
	justify-content: flex-start;
	align-items: center;
}

.flex {
	display: flex;
}
.row {
	flex-direction: row;
}
.col {
	flex-direction: column;
}
.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}
.block {
	display: block;
}
.pad-10px {
	padding: 10px;
}
.pad-20px {
	padding: 20px;
}
.lr-pad-5px {
	padding: 0 15px;
}

.nav-links {
	color: yellowgreen !important;
}
