.card {
	height: 6rem;
	width: 16.5rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient(0.15turn, #af7676d5, #34c7c7de); */
	background: linear-gradient(0.15turn, #fdfdfdd5, #d8d8d8de);
	color: white;
	font-size: 1.25rem;
	font-weight: 600;
	margin: 0;
	text-align: center;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}
.card:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.151), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
}

.anime-card-container {
	height: 20rem;
	width: 16.5rem;
	border-radius: 0.5rem;
}

.mar-tb-5px {
	margin: 5px 0;
}
.mar-tb-10px {
	margin: 10px 0;
}
.cha-card {
	width: 15rem;
	height: 20.5rem;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: linear-gradient(0.15turn, #fdfdfdd5, #d8d8d8de);
	color: white;
	font-size: 1.5rem;
	font-weight: 600;
	margin: 1rem;
	text-align: center;
}

.sq-card {
	width: 5rem;
	height: 5rem;
	border-radius: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	/* background: linear-gradient(0.15turn, #fdfdfdd5, #d8d8d8de); */
	color: #ebebeb;
	background-color: #00917c;
	font-size: 1rem;
	font-weight: 700;
	margin: 1rem;
	text-align: center;
}

.weather-card {
	width: 15.2rem;
	height: 10rem;
	font-size: 0.85rem;
	font-weight: 400;
	border-radius: 0.5rem;
	color: white;
	padding: 0.2rem 1.3rem;
	margin: 1rem;
}

.pic-card {
	border-radius: 0.5rem;
	background: linear-gradient(0.15turn, #a53b3bd5, #d8d8d8de);
	display: flex;
	padding: 4rem;
	margin: 0 2.25rem;
}

.paramsCard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fffefe;
	border-radius: 0.5rem;
	/* 	-webkit-box-shadow: 10px 10px 43px -22px rgba(0, 0, 0, 0.48);
	-moz-box-shadow: 10px 10px 43px -22px rgba(0, 0, 0, 0.48);
	box-shadow: 10px 10px 43px -22px rgba(0, 0, 0, 0.3); */
	-webkit-box-shadow: -3px 7px 8px #77777730;
	-moz-box-shadow: -3px 7px 8px #77777730;
	box-shadow: -3px 7px 8px #77777730;
	margin: 1rem;
}

.subParam1 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 4rem;
	width: 9rem;
}

.subParam2 {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 4rem;
	width: 9rem;
}

@keyframes slidein {
	from {
		/* transform: scaleX(0); */
		transform: skew(8deg);
		transform-origin: 20% 40%;
	}
	to {
		/* transform: scaleX(1); */
		transform: skew(-9deg);
		transform-origin: 20% 40%;
	}
}
